.container {
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    word-break: break-word; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container > .card {
  flex: 1 1 30%;
}

.card {
  width: 25rem;
}

.img {
  height: 20vh;
}
